.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2b5f54;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 27px;
  padding-right: 27px;
}
.avatar {
  width: 45px;
}
.leftsec {
  gap: 15px;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.leftsec:hover {
  cursor: pointer;
}
.leftsec h2 {
  margin-top: 6px;
  color: #fff;
  font-size: 17px;
}
.controls > * {
  position: relative;
  margin-right: 10px;
  color: #fff;
}
.controls > *:hover {
  cursor: pointer;
}
