.prof {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--col5);
}
.username {
  text-transform: capitalize;
}

.editIcon {
  color: #2b5f54;
  font-size: 20px;
  margin-left: 10px;
  margin-bottom: 5px;
}
.container {
  max-width: 600px;
  margin: 50px auto;
  background-color: var(--col1);
  border-radius: 8px;
  box-shadow: 0 0 10px var(--col10);
  overflow: hidden;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid var(--col6);
}

.picture {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.cam {
  font-size: 35px;
  padding: 5px;
  margin-left: 55px;
  margin-top: -35px;
  color: var(--col1);
  background-color: var(--col4);
  border-radius: 50px;
  cursor: pointer;
}
.details {
  padding: 20px;
}

.details h3 {
  margin-top: 0;
  font-size: 1.1em;
  color: var(--col7);
}

.details p {
  margin: 5px 0;
  color: var(--col8);
}
